@{
    ViewBag.Title = "Register";

}

@model Vision_Project.Models.User

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <style>
        @@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

        body {
            font-size: 0.875rem;
            padding-top: 0 !important;
        }

        * {
            font-family: "Poppins", sans-serif;
            font-weight: 300;
            font-style: normal;
        }

        .navbar {
            z-index: 9999;
            background-color: #343a40;
            color: #fff;
        }

        .sidebar {
            width: 6rem;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            z-index: 100;
            padding: 48px 0 0;
            box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
        }
        success:focus {
            box-shadow: none !important;
        }

        .sidebar-sticky {
            position: -webkit-sticky;
            position: sticky;
            top: 48px;
            height: calc(100vh - 48px);
            padding-top: .5rem;
            overflow-x: hidden;
            overflow-y: auto;
        }

        .nav-link.active {
            font-weight: bold;
            color: #007bff;
        }

        .card {
            margin-bottom: 1rem;
        }

        .card-title {
            font-size: .8rem;
            margin: 0;
            color: #777676;
            margin-top: .4rem;
        }

        .body_card {
            display: flex;
            align-items: start;
        }

        .container {
            margin-top: 2rem;
        }

        .d-flex {
            justify-content: space-between;
        }

        .card-text {
            font-size: .9rem;
            color: #222222;
            margin: 0;
            font-weight: 600;
            padding: .2rem 0;
        }

        .text_bold {
            font-size: .8rem;
            font-weight: bold;
            color: #a3a5a7;
        }

        .iconn {
            color: #00ba71;
            font-size: 1.2rem;
            text-align: center;
        }

        .nav-link, .nav-link.active {
            text-align: center;
            padding-top: 1rem;
            color: #a3a5a7;
        }

        @@media (min-width: 576px) {
            .ml-sm-auto, .mx-sm-auto {
                margin-left: 5rem !important;
            }
        }

        .card_color {
            width: 20rem !important;
            background-color: #fafafa;
            margin: .7rem;
            border-radius: .3rem;
            padding: .7rem 1.4rem;
        }

        .roww {
            align-items: center;
            justify-content: center;
        }

        .span_iconn {
            width: 3.2rem;
            height: 3.2rem;
            background-color: #00ba71;
            border-radius: 50%;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 1rem;
        }

            .span_iconn .iconn {
                color: white;
                font-size: 1.2rem;
            }

        .table-responsive {
            margin-top: 1rem;
        }

        .table td, .table th {
            vertical-align: middle;
        }

        .badge-onboarded {
            background-color: #28a745;
            color: white;
        }

        .nav-link {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .btn-success {
            color: #359760;
            border-color: #28a745;
            background-color: #fff !important;
        }
    </style>
</head>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class=" text-center p-3">
                   
                </div>
                <div class="card-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group text-center">
                            <img src="~/Content/assets/images/form2.png" width="230px" alt="Picture" class="img-fluid rounded-circle mb-3">
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label>Name</label>

                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control form-control-user", placeholder = "Name" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row form-group">

                            <div class="col-md-12">
                                <label>Email</label>
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12">
                                <label>Password</label>
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @type = "password", @class = "form-control", placeholder = "Password" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label>Confirm Password</label>
                                @Html.EditorFor(model => model.c_password, new { htmlAttributes = new { @type = "password", @class = "form-control form-control-user", placeholder = "Confirm Password" } })
                                @Html.ValidationMessageFor(model => model.c_password, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        @*<div class="form-group">
                <label>Gender</label>
                <div class=" row col-md-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Gender" id="femaleRadio" value="Female">
                        <label class="form-check-label" for="femaleRadio">Female</label>
                    </div>
                    <div class="form-check" style="margin-left:20px;">
                        <input class="form-check-input" type="radio" name="Gender" id="maleRadio" value="Male">
                        <label class="form-check-label" for="maleRadio">Male</label>
                    </div>
                </div>

            </div>*@

                        <input type="submit" value="Register" style="width: 100%; color: white; background-color: #acd6e3 !important; border-color: #acd6e3; " class="btn btn-block">
                        <br />
                        <div class="text-center">
                            Already have an Account !@Html.ActionLink("Login", "Index", "Account")
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/assets/scripts/sweetalert.min.js"></script>

@if (TempData["SucessMessage"] != null)
{
    <script>
 swal({
                title: "@TempData["SucessMessage"]", icon: "success", button: "ok!",
            })</script>
}
@if (TempData["WarningMessage"] != null)
{
    <script>
swal({
               title: "@TempData["WarningMessage"]", icon: "warning", button: "ok!",
           })</script>
}
