@model IEnumerable<Vision_Project.Models.Voter_TB>
@{
    ViewBag.Title = "Voters";
    Layout = "~/Views/shared/Adminlayout.cshtml";
}


<!-- Navigation Area -->
<!-- Navigation Area -->
<nav class="px-7 bg-white py-3 flex justify-between items-center shadow-[0px_1px_2px_rgba(0,0,0,0.07)] xl:hidden">
    <!-- **Humburger SVG Icon -->
    <div class="xl:hidden hamburger cursor-pointer">
        <svg width="24"
             height="24"
             viewBox="0 0 24 24"
             fill="none"
             xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M3 7.125C3 6.50368 3.50368 6 4.125 6H19.875C20.4963 6 21 6.50368 21 7.125C21 7.74632 20.4963 8.25 19.875 8.25H4.125C3.50368 8.25 3 7.74632 3 7.125Z"
                  fill="#242424" />
            <path fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M3 12C3 11.3787 3.50368 10.875 4.125 10.875H19.875C20.4963 10.875 21 11.3787 21 12C21 12.6213 20.4963 13.125 19.875 13.125H4.125C3.50368 13.125 3 12.6213 3 12Z"
                  fill="#242424" />
            <path fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M3 16.875C3 16.2537 3.50368 15.75 4.125 15.75H19.875C20.4963 15.75 21 16.2537 21 16.875C21 17.4963 20.4963 18 19.875 18H4.125C3.50368 18 3 17.4963 3 16.875Z"
                  fill="#242424" />
        </svg>
    </div>
    <div class="lg:px-4 flex items-center">
        <img src="~/content/assets/images/Logo.svg" />
    </div>
</nav>
<!-- Navigation Area Ends Here -->
<!-- Navigation Area Ends Here -->
<!-- MainPage -->
<div class="2xl:pl-20 2xl:pr-10 px-6 py-6 w-full mx-auto">
    <!-- Main Heading -->
    <div class="flex gap-y-3 items-center justify-between flex-wrap">
        <div class="">
            <h1 class="text-2xl sa700 leading-normal text-gray-800">
                Voters
            </h1>
        </div>
    </div>
    <!-- Main Heading Ends  -->
    <div class="w-full bg-white my-shadow rounded-2xl px-4 py-5 mt-5">
        <!-- Table -->
        <div class="overflow-auto my-shadow whitespace-nowrap amount_offer">
            <table class="w-full bg-white rounded whitespace-nowrap">
                <thead>
                    <tr class="w-full h-10 py-4 px-10 bg-[#F4F6FA] rounded-l-lg">
                        <th class="text-base font-medium leading-none text-gray-600 md:px-0 px-2 text-left w-[20px] rounded-l-lg">
                            <div class="flex gap-4 items-center pl-6">
                                <input class="styled-checkbox-2"
                                       id="styled-checkbox-51"
                                       type="checkbox"
                                       value="value1" />
                                <label for="styled-checkbox-51"
                                       class="text-gray-500 text-sm"></label>
                            </div>
                        </th>
                        <th class="text-sm font-medium leading-none text-gray-500 md:px-0 px-2 text-left">
                            @Html.DisplayNameFor(model => model.User.Id)
                        </th>
                        <th class="text-sm font-medium leading-none text-gray-500 px-2 text-left">
                            @Html.DisplayNameFor(model => model.User.Name)
                        </th>
                        <th class="text-sm font-medium leading-none text-gray-500 px-2 text-left">
                            @Html.DisplayNameFor(model => model.User.Email)
                        </th>
                     
                        <th class="text-sm font-medium leading-none text-gray-500 px-2 text-left">
                            @Html.DisplayNameFor(model => model.Status)
                        </th>

                        <th class="text-sm font-medium leading-none text-gray-500 px-2 text-left rounded-r-lg pr-6"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="my-0">
                            <td class="text-xs leading-none py-3 md:px-0 px-2 text-gray-800 w-5 relative">
                                <div class="flex gap-4 items-center pl-6 relative">
                                    <input class="styled-checkbox-3"
                                           id="styled-checkbox-56"
                                           type="checkbox"
                                           value="value1" />
                                    <label for="styled-checkbox-56"
                                           class="text-gray-500 text-sm"></label>
                                    <!--  -->
                                    <!--  -->
                                </div>
                            </td>
                            <td>
                                <p class="text-slate-500 text-xs font-medium py-3 md:px-0 px-2 rounded-l-lg">
                                    @Html.DisplayFor(modelItem => item.User.Id)
                                </p>
                            </td>
                            <td>
                                <p class="text-slate-500 text-xs font-medium py-3 px-2">
                                    @Html.DisplayFor(modelItem => item.User.Name)
                                </p>
                            </td>
                            <td>
                                <p class="text-slate-500 text-xs font-medium py-3 px-2">
                                    @Html.DisplayFor(modelItem => item.User.Email)
                                </p>
                            </td>
                            <td>
                                <p class="text-slate-500 text-xs font-medium py-3 px-2">
                                    @Html.DisplayFor(modelItem => item.UserInfo.Phone)
                                </p>
                            </td>
                            <td>
                                <p class="text-slate-500 text-xs font-medium py-3 px-2">
                                    @Html.DisplayFor(modelItem => item.UserInfo.Cnic_No)
                                </p>
                            </td>
                            <td>
                                <p class="text-slate-500 text-xs font-medium py-3 px-2">
                                    @Html.DisplayFor(modelItem => item.UserInfo.Address)
                                </p>
                            </td>
                            <td>
                                <p class="text-slate-500 text-xs font-medium py-3 px-2">
                                    @Html.DisplayFor(modelItem => item.UserInfo.Town.Name)
                                </p>
                            </td>
                            <td>
                                <p class="text-slate-500 text-xs font-medium py-3 px-2">
                                    @Html.DisplayFor(modelItem => item.UserInfo.Family_No)
                                </p>
                            </td>
                            <td>
                                <p class="text-slate-500 text-xs font-medium py-3 px-2">
                                    @(item.Status == 0 ? "Eligible" : "Not Eligible")

                                </p>
                            </td>
                            <td>
                                <div class="flex gap-4 items-center pr-6">
                                    <img src="~/content/assets/images/pencil.svg" alt="Pencil" />
                                    <img src="~/content/assets/images/bin-gray.svg" alt="Bin" />
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- Table -->
    </div>
    <!-- MainPage -->
    <div class="flex md:justify-between justify-center gap-4 items-center mt-6">
        <div class="relative md:max-w-[150px] w-full">
            <button onclick="showcheckdropdown()"
                    class="duration-300 ease-in-out gap-2 md:max-w-[150px] w-full bg-white border border-transparent hover:bg-transparent text-gray-500 hover:border hover:border-gray-200 h-10 flex items-center justify-center text-center rounded-md text-sm sa700">
                Show Columns
                <img src="~/content/assets/images/arrow-down-01-sharp.svg" alt="Arrow" />
            </button>
            <!--  -->
            <div id="checkdrop"
                 class="hidden z-10 w-[220px] text-base list-none bg-white drop-shadow px-3 py-4 absolute bottom-10 left-0 rounded-xl flex flex-col">
                <div class="flex gap-4 items-center hover:text-[#0560FD] hover:font-medium hover:bg-[#0560FD] hover:bg-opacity-10 hover:rounded py-2 px-2 rounded">
                    <input class="styled-checkbox-3"
                           id="styled-checkbox-60"
                           type="checkbox"
                           value="value1" />
                    <label for="styled-checkbox-60" class="text-gray-500 text-sm">ID</label>
                </div>
                <div class="flex gap-4 items-center hover:text-[#0560FD] hover:font-medium hover:bg-[#0560FD] hover:bg-opacity-10 hover:rounded py-2 px-2 rounded">
                    <input class="styled-checkbox-3"
                           id="styled-checkbox-61"
                           type="checkbox"
                           value="value1" />
                    <label for="styled-checkbox-61" class="text-gray-500 text-sm">Job ID</label>
                </div>
                <div class="flex gap-4 items-center hover:text-[#0560FD] hover:font-medium hover:bg-[#0560FD] hover:bg-opacity-10 hover:rounded py-2 px-2 rounded">
                    <input class="styled-checkbox-3"
                           id="styled-checkbox-62"
                           type="checkbox"
                           value="value1" />
                    <label for="styled-checkbox-62" class="text-gray-500 text-sm">MSG ID</label>
                </div>
                <div class="flex gap-4 items-center hover:text-[#0560FD] hover:font-medium hover:bg-[#0560FD] hover:bg-opacity-10 hover:rounded py-2 px-2 rounded">
                    <input class="styled-checkbox-3"
                           id="styled-checkbox-63"
                           type="checkbox"
                           value="value1" />
                    <label for="styled-checkbox-63" class="text-gray-500 text-sm">Declaration Date</label>
                </div>
                <div class="flex gap-4 items-center hover:text-[#0560FD] hover:font-medium hover:bg-[#0560FD] hover:bg-opacity-10 hover:rounded py-2 px-2 rounded">
                    <input class="styled-checkbox-3"
                           id="styled-checkbox-64"
                           type="checkbox"
                           value="value1" />
                    <label for="styled-checkbox-64" class="text-gray-500 text-sm">Declaration Type</label>
                </div>
                <div class="flex gap-4 items-center hover:text-[#0560FD] hover:font-medium hover:bg-[#0560FD] hover:bg-opacity-10 hover:rounded py-2 px-2 rounded">
                    <input class="styled-checkbox-3"
                           id="styled-checkbox-65"
                           type="checkbox"
                           value="value1" />
                    <label for="styled-checkbox-65" class="text-gray-500 text-sm">Created By</label>
                </div>
                <div class="flex gap-4 items-center hover:text-[#0560FD] hover:font-medium hover:bg-[#0560FD] hover:bg-opacity-10 hover:rounded py-2 px-2 rounded">
                    <input class="styled-checkbox-3"
                           id="styled-checkbox-66"
                           type="checkbox"
                           value="value1" />
                    <label for="styled-checkbox-66" class="text-gray-500 text-sm">Declaration ID</label>
                </div>
                <div class="flex gap-4 items-center hover:text-[#0560FD] hover:font-medium hover:bg-[#0560FD] hover:bg-opacity-10 hover:rounded py-2 px-2 rounded">
                    <input class="styled-checkbox-3"
                           id="styled-checkbox-67"
                           type="checkbox"
                           value="value1" />
                    <label for="styled-checkbox-67" class="text-gray-500 text-sm">ETA</label>
                </div>
                <div class="flex gap-4 items-center hover:text-[#0560FD] hover:font-medium hover:bg-[#0560FD] hover:bg-opacity-10 hover:rounded py-2 px-2 rounded">
                    <input class="styled-checkbox-3"
                           id="styled-checkbox-68"
                           type="checkbox"
                           value="value1" />
                    <label for="styled-checkbox-68" class="text-gray-500 text-sm">Permit No</label>
                </div>
                <div class="flex gap-4 items-center hover:text-[#0560FD] hover:font-medium hover:bg-[#0560FD] hover:bg-opacity-10 hover:rounded py-2 px-2 rounded">
                    <input class="styled-checkbox-3"
                           id="styled-checkbox-69"
                           type="checkbox"
                           value="value1" />
                    <label for="styled-checkbox-69" class="text-gray-500 text-sm">Importer</label>
                </div>
                <div class="flex gap-4 items-center hover:text-[#0560FD] hover:font-medium hover:bg-[#0560FD] hover:bg-opacity-10 hover:rounded py-2 px-2 rounded">
                    <input class="styled-checkbox-3"
                           id="styled-checkbox-70"
                           type="checkbox"
                           value="value1" />
                    <label for="styled-checkbox-70" class="text-gray-500 text-sm">Inhawbobl</label>
                </div>
                <div class="flex gap-4 items-center hover:text-[#0560FD] hover:font-medium hover:bg-[#0560FD] hover:bg-opacity-10 hover:rounded py-2 px-2 rounded">
                    <input class="styled-checkbox-3"
                           id="styled-checkbox-71"
                           type="checkbox"
                           value="value1" />
                    <label for="styled-checkbox-71" class="text-gray-500 text-sm">Mawbobl</label>
                </div>
                <div class="flex gap-4 items-center hover:text-[#0560FD] hover:font-medium hover:bg-[#0560FD] hover:bg-opacity-10 hover:rounded py-2 px-2 rounded">
                    <input class="styled-checkbox-3"
                           id="styled-checkbox-72"
                           type="checkbox"
                           value="value1" />
                    <label for="styled-checkbox-72" class="text-gray-500 text-sm">Loading Port Code</label>
                </div>
                <div class="flex gap-4 items-center hover:text-[#0560FD] hover:font-medium hover:bg-[#0560FD] hover:bg-opacity-10 hover:rounded py-2 px-2 rounded">
                    <input class="styled-checkbox-3"
                           id="styled-checkbox-73"
                           type="checkbox"
                           value="value1" />
                    <label for="styled-checkbox-73" class="text-gray-500 text-sm">Message Type</label>
                </div>
                <div class="flex gap-4 items-center hover:text-[#0560FD] hover:font-medium hover:bg-[#0560FD] hover:bg-opacity-10 hover:rounded py-2 px-2 rounded">
                    <input class="styled-checkbox-3"
                           id="styled-checkbox74"
                           type="checkbox"
                           value="value1" />
                    <label for="styled-checkbox74" class="text-gray-500 text-sm">Inward Transport Mode</label>
                </div>
                <div class="flex gap-4 items-center hover:text-[#0560FD] hover:font-medium hover:bg-[#0560FD] hover:bg-opacity-10 hover:rounded py-2 px-2 rounded">
                    <input class="styled-checkbox-3"
                           id="styled-checkbox75"
                           type="checkbox"
                           value="value1" />
                    <label for="styled-checkbox75" class="text-gray-500 text-sm">Previous Permit</label>
                </div>
                <div class="flex gap-4 items-center hover:text-[#0560FD] hover:font-medium hover:bg-[#0560FD] hover:bg-opacity-10 hover:rounded py-2 px-2 rounded">
                    <input class="styled-checkbox-3"
                           id="styled-checkbox-76"
                           type="checkbox"
                           value="value1" />
                    <label for="styled-checkbox-76" class="text-gray-500 text-sm">Internal Remarks</label>
                </div>
                <div class="flex gap-4 items-center hover:text-[#0560FD] hover:font-medium hover:bg-[#0560FD] hover:bg-opacity-10 hover:rounded py-2 px-2 rounded">
                    <input class="styled-checkbox-3"
                           id="styled-checkbox-77"
                           type="checkbox"
                           value="value1" />
                    <label for="styled-checkbox-77" class="text-gray-500 text-sm">Term Type</label>
                </div>
                <div class="flex gap-4 items-center hover:text-[#0560FD] hover:font-medium hover:bg-[#0560FD] hover:bg-opacity-10 hover:rounded py-2 px-2 rounded">
                    <input class="styled-checkbox-3"
                           id="styled-checkbox-78"
                           type="checkbox"
                           value="value1" />
                    <label for="styled-checkbox-78" class="text-gray-500 text-sm">GST Sum Amount</label>
                </div>
                <div class="flex gap-4 items-center hover:text-[#0560FD] hover:font-medium hover:bg-[#0560FD] hover:bg-opacity-10 hover:rounded py-2 px-2 rounded">
                    <input class="styled-checkbox-3"
                           id="styled-checkbox-79"
                           type="checkbox"
                           value="value1" />
                    <label for="styled-checkbox-79" class="text-gray-500 text-sm">Sum of Item</label>
                </div>
                <div class="flex gap-4 items-center hover:text-[#0560FD] hover:font-medium hover:bg-[#0560FD] hover:bg-opacity-10 hover:rounded py-2 px-2 rounded">
                    <input class="styled-checkbox-3"
                           id="styled-checkbox-80"
                           type="checkbox"
                           value="value1" />
                    <label for="styled-checkbox-80" class="text-gray-500 text-sm">Status</label>
                </div>
            </div>
            <!--  -->
        </div>
        <!-- Pagination -->
        <div class="flex justify-center gap-2">
            <div class="w-8 h-8 flex rounded-md justify-center items-center bg-white">
                <svg width="20"
                     height="20"
                     viewBox="0 0 20 20"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.4998 5L8.08903 9.41075C7.81125 9.6885 7.67236 9.82742 7.67236 10C7.67236 10.1726 7.81125 10.3115 8.08903 10.5892L12.4998 15"
                          stroke="#BCBCC4"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round" />
                </svg>
            </div>
            <div class="w-8 h-8 flex rounded-md justify-center items-center text-white text-sm sa700 bg-[#0560FD]">
                1
            </div>
            <div class="w-8 h-8 flex rounded-md justify-center items-center text-gray-500 text-sm sa700 bg-white">
                2
            </div>
            <div class="w-8 h-8 flex rounded-md justify-center items-center text-gray-500 text-sm sa700 bg-white">
                3
            </div>
            <div class="w-8 h-8 flex rounded-md justify-center items-center bg-white">
                <svg width="20"
                     height="20"
                     viewBox="0 0 20 20"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.5 15L11.9108 10.5892C12.1885 10.3115 12.3274 10.1726 12.3274 10C12.3274 9.82742 12.1885 9.6885 11.9108 9.41075L7.5 5"
                          stroke="#0560FD"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round" />
                </svg>
            </div>
        </div>
        <!-- Pagination -->
    </div>
</div>
<!-- Body -->
